/* reset all automatic browser values and initialize
basic values*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 1px hidden;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 2.5vh;
	font-family: Georgia, 'Times New Roman', Times, serif;
	vertical-align: baseline;
    text-align: center;
}

:focus {
	outline: 0;
}
body {
	line-height: 1;
	color:rgb(100, 100, 100);
	background: white;
}

.banner {
    background-image: url(IMG_3002.JPG);
    background-size: cover;
    height: 30vh;
    padding: 0.05px;
}
@media only screen and (max-width: 760px) {
    .title {
    font-size: 5vh;
    text-align: center;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 70%;
    margin-top: 8vh;
    margin-bottom: 5vh;
    border: 3px solid rgb(100, 100, 100);
    }
    input, select {
        width: 70%;
    }
    #button {
        width: 70%;
    }
    .align {
        margin-left: 5%;
    }
}
@media only screen and (min-width: 760px) {
    .title {
        font-size: 7vh;
        text-align: center;
        margin: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 70%;
        margin-top: 10vh;
        border: 5px solid rgb(100, 100, 100);
    }
    .row {
        width: 100%;
    }
    .left {
        width: 48%;
        display: inline-block;
        
    }
    .right {
        width: 48%;
        display: inline-block;
        
    }
    input, select {
        width: 40%;
    }
    #button {
        width: 30%;
    }
}
#button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 4vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px outset rgb(212, 212, 212);
    border-radius: 1.5vh;
    background-color: rgb(255, 199, 209);
    color: white;
    transition: all 0.2s;
}
#button:hover {
    color: rgb(255, 199, 209);
    background-color: white;
}
.author {
    font-size: 3.5vh;
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
input, select {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vh;
    border: 5px outset rgb(212, 212, 212);
    border-radius: 1.5vh;
    text-align: center;
}
h2 {
    margin-top: 6vh;
    margin-bottom: 0vh;
    font-size: 4vh;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
p {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    line-height: 2;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}
.introduction {
    padding-bottom: 2vh;
}
#calculatedPrice {
    margin-bottom: 6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 3.5vh;
}